<app-input [text] = "title" (textChange)="title = $event"></app-input>
<div>test div</div>
<div *ngFor="let fruit of fruits" [ngStyle] = "{color: fruit.color}" [ngClass] ="getClassForFruit(fruit)" [class.dark-bg]="fruit.color === 'yellow'" appHower="">
  {{fruit.name}}-{{fruit.score}}
  <div *ngIf="fruit.score >= 6; else elseContent">
    I like {{fruit.name}}-{{fruit.score}}
  </div>
  <ng-template #elseContent>I don't {{fruit.name}}-{{fruit.score}}</ng-template>
</div>
<div>
  Uppercase pipe
  {{'uppercase' | uppercase}}
</div>
<div>
  JSON pipe
  {{fruits | json}}
</div>
<div>
  Number pipe
  {{7.33333 | number: '2.2-2'}}
</div>
